template(name="layout")
  .navbar.navbar-inverse.navbar-fixed-top(role="navigation")
    //- Show the accounts login button
    +loginButtons
    //- Check if the user has a room id. If so, show a link to leave the room.
    if hasRoomId
      a(href="/rooms") Leave Room
    a.soundcloud(href="https://soundcloud.com")

  .jumbotron
    .container
      //- Show the sub-template
      +yield

  #player-sticky
    each message
      .track-info.col-sm-6.col-xs-12
        span.artwork
          img(src="#{artwork_url}")
        span.title #{title}
        span.user #{user.username}
      .pull-right.col-sm-6.col-xs-12
        if ownQueue
          input.col-xs-6.col-sm-4.btn.btn-default.skip(placeholder="Skip >>")
          input.col-xs-6.col-sm-4.btn.btn-default.pause(placeholder="Stop ■")
          input.col-xs-6.col-sm-4.btn.btn-default.play(placeholder="Play ►")
          input.col-xs-6.col-sm-4.btn.btn-default.show-hide-queue(placeholder="Show/hide queue")
          input.col-xs-6.col-sm-4.btn.btn-default.count(placeholder="Listeners: #{listenersCount}")
          input.col-xs-6.col-sm-4.btn.btn-default.mute(placeholder="Mute")
          div.col-xs-6.col-sm-4.btn.btn-default.timer
            span.load
            span.time 0:00
          input.col-xs-12(type="range" name="progress" min="0" max="100" value="0").progress
        else
          input.btn.btn-default.switch-off(value="Go back to own queue")
    .queue
      ul
        each queued
          if ownQueue
            li(draggable="true", data-id="#{_id}").item
              span.artwork
                img(src="#{artwork_url}")
              span.title #{title}
              span.user #{user.username}
          else
            li.item
              span.artwork
                img(src="#{artwork_url}")
              span.title #{title}
              span.user #{user.username}
