template(name="layout")
  .navbar.navbar-inverse.navbar-fixed-top(role="navigation")
    //- Show the accounts login button
    +loginButtons
    //- Check if the user has a room id. If so, show a link to leave the room.
    if hasRoomId
      a(href="/rooms") Leave Room

  .jumbotron
    .container
      //- Show the sub-template
      +yield

  #player-sticky
    each message
      .track-info
        span.artwork
          img(src="#{artwork_url}")
        span.title #{title}
        span.user #{user.username}
      if ownQueue
        input.btn.btn-default.skip(placeholder="Skip >>")
        input.btn.btn-default.pause(placeholder="Pause ||")
        input.btn.btn-default.play(placeholder="Play >")
        input.btn.btn-default.show-hide-queue(placeholder="Show/hide queue")
        input.btn.btn-default.count(placeholder="Listeners: #{listenersCount}")
        div.btn.btn-default.timer
          span.load
          span.time 0:00
        input(type="range" name="progress" min="0" max="100" value="0").progress
    .queue.hidden
      ul
        each queued
          if ownQueue
            li(draggable="true", data-id="#{trackId}").item
              span.artwork
                img(src="#{artwork_url}")
              span.title #{title}
              span.user #{user.username}
          else
            li.item
              span.artwork
                img(src="#{artwork_url}")
              span.title #{title}
              span.user #{user.username}

