template(name="room")

    h2 #{roomName}

    .profile
      h4 Profile

      .well
        if profile
          if profile.colour
            .profile-pic(style="background: #{profileColour}")
          if profile.description
            span.description-container
              span.description #{profile.description}
        if ownProfile
          input.btn.btn-default.edit-description(value="Edit profile")
          form.hidden.form-group
            textarea.form-control
            input.btn.default-btn(value="submit" type="submit")

    h4 Nodes:

    #nodes
      label Listening to
      each parentNode
        span(class='label parentNode label-default #{state}') #{username}
      if oneNode
        label is
      else if nodes
        label are
      else
        label is no-one
      each node
        span(class='label node label-default #{state}') #{username}

    unless ownProfile
      h4 Tracks
      #player.well
        if queued
          .queue
            ul
              each queued
                li.item
                  span.artwork
                    img(src="#{artwork_url}")
                  a.queue-track Add to queue
                  span.title #{title}
                  span.user #{user.username}
        if switchState
          input.btn.btn-default.switch-on(value="Listen to user")
        else
          input.btn.btn-default.switch-off(value="Go back to own queue")

    if ownProfile

      h4 Playlists
      #playlists.well
        ul
          each playlists
            li.playlist.item(data-name="#{this.name}")
              if isQueue
                label Queue
              else
                label #{this.name}
              if playlistState
                a.play-playlist Listen to this playlist
              if isQueue
                a.red.delete-playlist.pull-right Clear
              else
                a.red.delete-playlist.pull-right Delete
              .queue
                ul
                  each tracks
                    li(draggable="true", data-id="#{_id}").item.track
                      span.artwork
                        img(src="#{artwork_url}")
                      unless isQueue
                        a.queue-track Add to queue
                      a.remove-track Remove
                      span.title #{title}
                      span.user #{user.username}rack
        form.input-group(data-action="create-playlist")
          input.form-control.search-input(data-value="new-playlist" placeholder="Make a playlist")
          span.input-group-btn
            input.btn.btn-default(type="submit" value="Create")


      if admin
        h4 Genre Colours
        .well
          ul.genres.profile
            each genre
              li.genre(data-name="#{this.name}")
                label #{this.name}
                label.count Total uses: #{this.count}
                .profile-pic(style="background: #{genreColour}")
                form.input-group(data-action="update-genre")
                  input.form-control.r(data-value="r" placeholder="#{this.colour.r}")
                  input.form-control.g(data-value="g" placeholder="#{this.colour.g}")
                  input.form-control.b(data-value="b" placeholder="#{this.colour.b}")
                  span.input-group-btn
                    input.btn.btn-default(type="submit" value="Update")
                if active
                  .btn.btn-default.change-active(data-state="false") Deactivate
                else
                  .btn.btn-default.change-active(data-state="true") Activate

