template(name="room")

    h2 #{roomName}

    #profile
      h4 Profile

      .well
        if profile
          if profile.image
            .profile-pic(style="background: #{profile.image}")
          if profile.description
            span.description-container
              span.description #{profile.description}
        if ownProfile
          input.btn.btn-default.edit-description(value="Edit profile")
          form.hidden.form-group
            textarea.form-control
            input.btn.default-btn(value="submit" type="submit")

    h4 Tracks

    label Who's listening to #{roomName}'s tracks:
    #users
      //- Display users in the current room. Since all data is reactive, this will update live.
      each roomUsers
        //- Setting the state string in the classes will indicate, via css, if a user is online or idle!
        span(class='label label-default #{state}') #{username}

    unless ownProfile
      #player.well
        if queued.count
          .queue
            ul
              each queued
                li.item
                  span.artwork
                    img(src="#{artwork_url}")
                  span.title #{title}
                  span.user #{user.username}
        if switchState
          input.btn.btn-default.switch-on(value="Listen to user")
        else
          input.btn.btn-default.switch-off(value="Go back to own queue")

    h4 Playlists
    #playlists.well
      ul
        each playlists
          li.playlist.item(data-name="#{this.name}")
            label name: #{this.name}
            if playlistState
              input.btn.btn-default.play-playlist(value="Listen to this playlist")
            .queue
              ul
                each tracks
                  li.item
                    span.artwork
                      img(src="#{artwork_url}")
                    span.title #{title}
                    span.user #{user.username}rack
      form.input-group(data-action="create-playlist")
        input.form-control.search-input(data-value="new-playlist" placeholder="Make a playlist")
        span.input-group-btn
          input.btn.btn-default(type="submit" value="Create")


