template(name="roomList")

  h3 Seeders to listen to

  //- Display rooms. Reactive data will update the available rooms live.
  if rooms.count
    .list-group
      each rooms
        .list-group-item
          if notSelf
            a.listen Listen ►
          a(href="/room/#{_id}").room-link
            label #{username}
          if currentTrack
            span.current-track - #{currentTrack}
          else
            span.current-track - No track
          .badge listeners: #{listenerCount}
  else
    span No rooms available

  h3 Search for your own tracks

  form.input-group(data-action="search")
    input.form-control.search-input(data-value="search" placeholder="Search for tracks")
    span.input-group-btn
      input.btn.btn-default(type="submit" value="Search")

  #messages-container.well
    if results.count
      if results
        each results
          .message
            a.play-track Play ►
            a.queue-track Queue |►
            label.username #{user.username}:
            span.content #{title}
            a.label.add-to-playlist + Add to playlist
    else
      .message No search results
