template(name="room")

    h3 #{roomName}'s tracks

    label Who's in this room:
    #users
      //- Display users in the current room. Since all data is reactive, this will update live.
      each roomUsers
        //- Setting the state string in the classes will indicate, via css, if a user is online or idle!
        span(class='label label-default #{state}') #{data.username}

    #player.well
      if queued.count
        #queue
          ul
            each queued
              li
                span.artwork
                  img(src="#{artwork_url}")
                span.title #{title}
                span.user #{user.username}
      if switchState
        input.btn.btn-default.switch-on(value="Listen to user")
      else
        input.btn.btn-default.switch-off(value="Go back to own queue")
